@charset "UTF-8";

@charset "UTF-8";

/* sets */
/* Vous devez définir des variables en SCSS avec la syntaxe $nom-variable: valeur; */

/* table style */
table {
  border-spacing: 1px;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

td,
th {
  padding-left: 8px;
}

thead tr {
  height: 60px;
  background: #ffed86;
  font-size: 16px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}

tbody tr:last-child {
  border: 0;
}

td,
th {
  text-align: left;
}

td.l {
  text-align: right;
}

td.c,
th.c {
  text-align: center;
}

td.r {
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 23.5em) {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }
    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
    }
    td {
      padding-left: 45%;
      margin-bottom: 12px;
    }
    td:last-child {
      margin-bottom: 0;
    }
    td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }
    td:nth-child(1):before {
      content: "Code";
    }
    td:nth-child(2):before {
      content: "Stock";
    }
    td:nth-child(3):before {
      content: "Cap";
    }
    td:nth-child(4):before {
      content: "Inch";
    }
    td:nth-child(5):before {
      content: "Box Type";
    }
  }
}

/* body style */
body {
  background: #9bc86a;
  font: 400 14px 'Calibri', 'Arial';
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}
